<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.system.po.mapper.OrderVOMapper" >
   <resultMap id="BaseResultMap" type="com.guigu.system.po.OrderVO" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="customer" property="customer" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="front_cost" property="frontCost" jdbcType="DOUBLE" />
    <result column="second_cost" property="secondCost" jdbcType="DOUBLE" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="make_up" property="makeUp" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="INTEGER" />
    <result column="ps" property="ps" jdbcType="INTEGER" />
    <result column="choose" property="choose" jdbcType="INTEGER" />
    <result column="type_Name" property="typeName" jdbcType="VARCHAR" />
    <result column="floor_Name" property="floorName" jdbcType="VARCHAR" />
    <result column="make_up_Name" property="makeUpName" jdbcType="VARCHAR" />
    <result column="photo_name" property="photoName" jdbcType="VARCHAR" />
    <result column="ps_Name" property="psName" jdbcType="VARCHAR" />
    <result column="choose_Name" property="chooseName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findList" parameterType="com.guigu.system.po.OrderVO" resultMap="BaseResultMap">
  		select o.*,e.Employee_Name,p.type_name from orders o,employees e,photo_type p
  		 where o.type_id=p.type_id and o.floor=e.Employee_ID
  		<if test="date!=null">
  			and o.date= #{date}
  		</if>
  		<if test="customer!=null">
			and o.customer like #{customer}  		
  		</if>
  		<if test="orderId!=null">
  			and o.order_Id=#{orderId}
  		</if>
  </select>
  
  <select id="findOne" parameterType="Integer" resultMap="BaseResultMap">
  	select o.*,p.type_name,e1.employee_name make_up_Name,e2.employee_name photo_name,e3.employee_name ps_Name,e4.employee_name choose_name,
  	e5.employee_name floor_name
	from 
	employees e1,employees e2,employees e3,employees e4,employees e5, Photo_type p, orders o
 	where  p.type_Id=o.type_Id and e5.employee_Id=o.floor
  	and e1.employee_Id=o.make_up and e2.employee_Id=o.photo and
  	e3.employee_Id=o.ps and e4.employee_Id=o.choose and o.order_id=${value}
  </select>
  
  <select id="find" parameterType="Integer" resultMap="BaseResultMap">
  	select o.*,e.Employee_Name floor_name,p.type_name from orders o,employees e,photo_type p
  	where o.type_id=p.type_id and o.floor=e.Employee_ID and o.order_id=${value}
  </select>
  
  <select id="floorMoney" parameterType="com.guigu.system.po.EmpTestVO" resultType="double">
  	select  IFNULL(SUM(o.front_cost),0) from orders o,employees et
	where o.flag="是"  and et.Employee_ID=o.floor
	and o.floor=#{empId}  and o.date like #{testDate}
  </select>
  
  <select id="makeUpMoney" parameterType="com.guigu.system.po.EmpTestVO" resultType="double">
  	select  IFNULL(SUM(o.second_cost),0) from orders o,employees et
	where o.flag="是"  and et.Employee_ID=o.make_Up
	and o.make_Up=#{empId}  and o.date like #{testDate}
  </select>
  
  <select id="photoMoney" parameterType="com.guigu.system.po.EmpTestVO" resultType="double">
  	select  IFNULL(SUM(o.second_cost),0) from orders o,employees et
	where o.flag="是"  and et.Employee_ID=o.photo
	and o.photo=#{empId}  and o.date like #{testDate}
  </select>
  
  <select id="psMoney" parameterType="com.guigu.system.po.EmpTestVO" resultType="double">
  	select  IFNULL(SUM(o.second_cost),0) from orders o,employees et
	where o.flag="是"  and et.Employee_ID=o.ps
	and o.ps=#{empId}  and o.date like #{testDate}
  </select>
  
  <select id="chooseMoney" parameterType="com.guigu.system.po.EmpTestVO" resultType="double">
  	select  IFNULL(SUM(o.second_cost),0) from orders o,employees et
	where o.flag="是"  and et.Employee_ID=o.choose
	and o.choose=#{empId}  and o.date like #{testDate}
  </select>
  
  <select id="date" parameterType="String" resultType="String">
   	select DISTINCT DATE_FORMAT(o.date,'%m') from orders o
	where o.flag="是" and  o.date like  '${value}'
	ORDER BY o.date
  </select>
  
  <select id="countMoney" parameterType="String" resultType="Double">
 		select IFNULL(SUM(front_cost+o.second_cost),0) from orders o 
		where o.flag="是" and   o.date like '${value}'
		
  </select>
 </mapper>