<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.system.po.mapper.TargetRecordVOMapper" >
  <resultMap id="BaseResultMap" type="com.guigu.system.po.TargetRecordVO" >
    <id column="target_id" property="targetId" jdbcType="INTEGER" />
      <id column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="parent_target" property="parentTarget" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="target_name" property="targetName" jdbcType="VARCHAR"/>
    <result column="parent_name" property="parentName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findList" parameterType="Integer" resultMap="BaseResultMap">
  select tr.*,t.target_name parent_name,t1.target_name from target t1,target t,target_record tr
  where tr.parent_target=t.target_id and tr.target_id=t1.target_id and tr.parent_target=#{parentTarget}
  </select>
  
  <select id="findOne" parameterType="Integer" resultMap="BaseResultMap">
  	  select tr.*,t.target_name parent_name,t1.target_name  from target t1,target t,target_record tr
  where tr.parent_target=t.target_id and tr.target_id=t1.target_id and tr.target_id=${value}
  
  </select>
</mapper>