<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.system.po.mapper.TargetVOMapper" >
  <resultMap id="BaseResultMap" type="com.guigu.system.po.TargetVO" >
    <id column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="target_name" property="targetName" jdbcType="VARCHAR" />
    <result column="target_level" property="targetLevel" jdbcType="INTEGER" />
    <result column="parent_target" property="parentTarget" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="target_name" property="parentName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findList" parameterType="targetVO" resultMap="BaseResultMap">
  	select t1.*,t2.target_Name parent_Name   
  	from target t1,target t2
  	where t2.parent_target=t1.target_id
  	<if test="targetLevel!=null">
  	and t1.target_level=#{targetLevel}
  	</if>
  </select>
  
  <select id="findOne" parameterType="Integer" resultMap="BaseResultMap">
  	select t1.*,t2.target_Name parent_Name   
  	from target t1,target t2
  	where t2.parent_target=t1.target_id and t1.target_id=${value}
  
  </select>
</mapper>