<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.system.po.mapper.TempVOMapper" >
  <resultMap id="BaseResultMap" type="com.guigu.system.po.TempVO" >
    <id column="Temp_ID" property="tempId" jdbcType="INTEGER" />
    <result column="Employee_Id" property="employeeId" jdbcType="INTEGER" />
    <result column="Card_Number" property="cardNumber" jdbcType="INTEGER" />
    <result column="Temp_Department_ID" property="tempDepartmentId" jdbcType="INTEGER" />
    <result column="Employee_Name" property="employeeName" jdbcType="VARCHAR" />
    <result column="Department_Name" property="departmentName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findList" parameterType="Integer" resultMap="BaseResultMap">
  	select t.*,e.Employee_Name,d.Department_Name from Temp t,Employees e,Department d
		where t.Temp_Department_ID=d.Department_ID and t.Employee_Id=e.Employee_ID
		and t.Temp_Department_ID=${value}
  </select>
</mapper>