<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.system.po.mapper.TestRuleMapper" >
  <resultMap id="BaseResultMap" type="com.guigu.system.po.TestRule" >
    <id column="Rule_ID" property="ruleId" jdbcType="INTEGER" />
    <result column="Weight" property="weight" jdbcType="DOUBLE" />
    <result column="Test_Salary" property="testSalary" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Rule_ID, Weight, Test_Salary
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guigu.system.po.TestRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test_rule
    where Rule_ID = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test_rule
    where Rule_ID = #{ruleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guigu.system.po.TestRuleExample" >
    delete from test_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guigu.system.po.TestRule" >
    insert into test_rule (Rule_ID, Weight, Test_Salary
      )
    values (#{ruleId,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE}, #{testSalary,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guigu.system.po.TestRule" >
    insert into test_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        Rule_ID,
      </if>
      <if test="weight != null" >
        Weight,
      </if>
      <if test="testSalary != null" >
        Test_Salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="testSalary != null" >
        #{testSalary,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guigu.system.po.TestRuleExample" resultType="java.lang.Integer" >
    select count(*) from test_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update test_rule
    <set >
      <if test="record.ruleId != null" >
        Rule_ID = #{record.ruleId,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null" >
        Weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.testSalary != null" >
        Test_Salary = #{record.testSalary,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update test_rule
    set Rule_ID = #{record.ruleId,jdbcType=INTEGER},
      Weight = #{record.weight,jdbcType=DOUBLE},
      Test_Salary = #{record.testSalary,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guigu.system.po.TestRule" >
    update test_rule
    <set >
      <if test="weight != null" >
        Weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="testSalary != null" >
        Test_Salary = #{testSalary,jdbcType=DOUBLE},
      </if>
    </set>
    where Rule_ID = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guigu.system.po.TestRule" >
    update test_rule
    set Weight = #{weight,jdbcType=DOUBLE},
      Test_Salary = #{testSalary,jdbcType=DOUBLE}
    where Rule_ID = #{ruleId,jdbcType=INTEGER}
  </update>
</mapper>